<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<p class="animated fadeIn">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere, odio non bibendum efficitur, erat odio porttitor elit, vel blandit metus elit vel turpis. Phasellus et pretium massa. Suspendisse augue felis, condimentum ac nunc nec, luctus maximus
    diam. Integer a mattis lorem. Nullam scelerisque turpis tincidunt, sodales ante nec, efficitur nisi. Praesent iaculis ligula a tortor lacinia, vitae egestas ligula vulputate. Etiam accumsan est nec tortor pharetra condimentum. Nulla facilisi. Vivamus
    iaculis hendrerit tempus.
</p>